<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results for <%= options[0].title %></title>
  <!-- For Mobile Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/results.css" type="text/css">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
  <script type = "text/javascript">
    google.charts.load('current', {packages: ['corechart']});
  </script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/results.js"></script>
  <script language="Javascript">
    const drawChart = function() {
    const data = new google.visualization.DataTable();
      data.addColumn('string', 'Choices');
      data.addColumn('number', 'Points');

      <% for (const option of options) { %>
      data.addRows([
        [<%- JSON.stringify(option.fullLabel) %>, <%- JSON.stringify(option.points) %>],
      ]);
      <% } %>

      const options = {
      'is3D': true,
      'backgroundColor': 'none',
      'fontName': 'monospace',
      'fontColor': 'white',
      'colors': ['#FF008E', '#D22779', '#612897', '#0C1E7F', '#6867AC', '#A267AC', '#CE7BB0', '#FFBCD1'],
      };

      const pieChart = new google.visualization.PieChart(document.getElementById('pie-chart-container'));
      const barChart = new google.visualization.BarChart(document.getElementById('bar-chart-container'));
      pieChart.draw(data, options);
      barChart.draw(data, options);
    }
    google.charts.setOnLoadCallback(drawChart);
  </script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <section id="results">
      <h3>Final Results for "<%= options[0].title %>":</h3>
      <% for (let i = 0; i < options.length; i++) { %>
        <% if (i === 1 && options[0].points === options[i].points) { %>
      <h4>Looks like a TIE!<br>The winners each have <%= options[0].points %> points.</h4>
        <% } else if (i === 1 && options[0].points !== options[i].points) { %>
      <h4>"<%= options[0].label %>" WINS with <%= options[0].points %> points!</h4>
        <% } %>
      <% } %>
      <div id="pie-chart-container"></div>
      <div id="bar-chart-container"></div>
      <h4>Total Votes Cast: <%= totalVotes %></h4>
      <h4>Total Points: <%= totalPoints %></h4>
      <p>Poll expires on <%= (new Date(options[0].description)).toDateString() %></p>
      <p>Poll created by: <%= options[0].userInfo %></p>
    </section>

  </main>
</body>

</html>
