<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- For Mobile Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/results.css" type="text/css">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>
    <div class="results">

      <!-- all option. titles and description are the same -->
      <span><%=options[0].title%></span>
      <span><%=options[0].description%></span>

      <% for(const option of options) { %>
        <div class="results-item">
          <span><%=options.indexOf(option) + 1%> place</span>
          <span><%=option.label%></span>
          <span><%=option.label_description%></span>
          <span>Score: <%=option.points%></span>
        </div>
      <% } %>
      <a class="results-link" href="/polls">Check other polls</a>
    </div>
  </main>
</body>

</html>
