<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= poll[0].title %></title>

  <!-- For Mobile Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/vote.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/vote.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>

    <h2><%= poll[0].title %></h2>
    <h3>Poll expires on: <%= (new Date(poll[0].description)).toDateString() %></h3>
    <p>Drag and drop each choice from the left to the right side, in order of your preference, from top to bottom!</p>
    <form id="reset-button" method="GET" action="/polls/<%= poll[0].poll_id %>">
      <button type="submit" name="reset">Reset The Columns</button>
    </form>
    <div class="vote-labels">
      <h4><u>Choices</u></h4>
      <h4><u>Ranks</u></h4>
    </div>
    <form class="vote-form" method="POST">
      <div class="vote-ranking">
        <div class="vote-options">
        <% for (const pollOption of poll) { %>
          <div class="vote-items" id="draggable-<%= poll.indexOf(pollOption) + 1 %>"
          draggable="true">
            <label><strong><%= pollOption.label %>:</strong><br><%= pollOption.label_description %></label>
          </div>
        <% } %>
        </div>
        <div class="rank-options"></div>
      </div>
      <input id="vote-input" type="text" name="vote">
      <button id="form-submit-button" class="center form-vote-button form-vote-item" type="submit">Submit Rankings</button>
    </form>
    <p>Poll created by: <%= poll[0].userInfo %></p>
  </main>
</body>

</html>
