<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- For Moble Users-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- we  a CSS reset style sheet -->

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/vote.css" type="text/css" />

  <!-- App CSS -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css"/> -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main>

    <div>
      <span><%= poll[0].title %></span>
    </div>
    <div>
      <span><%= poll[0].description %></span>
    </div>
    <form class="vote-form" method="POST">
      <div class="vote-ranking">
        <div class="vote-options">
        <% for (const pollOption of poll) { %>
          <div class="form-vote-item">
            <label><%= pollOption.label %></label>
            <span><%= pollOption.label_description %></span>
          </div>
        <% } %>
        </div>
        <div class="vote-option">
        <% for (const rank of poll) { %>
          <div class="form-vote-item">
            <span id="item-rank1" class="rank-border">Rank <%= poll.indexOf(rank) + 1 %></span>
          </div>
        <% } %>
        </div>
      </div>
      <!-- <div class="form-vote-item">
        <label>option 2</label>
        <label>rank 2</label>
      </div>
      <div class="form-vote-item">
        <span>description</span>
        <span id="item-rank2" class="rank-border"></span>
      </div> -->
      <button id="form-submit-button" class="center form-vote-button form-vote-item" type="?">Reset</button>
      <button id="form-submit-button" class="center form-vote-button form-vote-item" type="submit">Submit</button>
    </form>
  </main>
</body>

</html>
